html, body {
    background: #FFFFFF;
    text-align: center;
    height: 100%;
    overflow: hidden;
}
.svg-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;  
}
.shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #ef9a9a;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    z-index: -1;
}
.text {
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #000000;
    top: -48px;
    position: relative;
    z-index: 100;
    border: none;
    fill: transparent;
    cursor: crosshair;
    outline: none;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}